:root {
  --video-opacity: 0.5;
}

html {
  scroll-behavior: smooth;
}

body {
  color: white;
  font-weight: 600;
  margin: 0;
  padding: 0;
  background: #000;
  touch-action: pan-y;
  height: 100vh;
  overflow: auto;
}

.video-scroll-section {
  margin: 0;
  padding: 0;
}

.video {
  z-index: -1;
  width: 100%;
  height: 100vh;
}

#video-1{
  -webkit-filter: opacity(var(--video-opacity));
  -moz-filter: opacity(var(--video-opacity));
  -ms-filter: opacity(var(--video-opacity));
  -o-filter: opacity(var(--video-opacity));
  filter: opacity(var(--video-opacity));
}

code {
  font-size: 18px;
  text-align: left;
}

ul {
  text-align: left;
}

.p-spacing {
  margin-bottom: 3rem;
}

.pos-sticky {
  position: sticky;
  will-change: transform;

  left: 0;
  top: 0;
}

.scroll-dummy {
  width: 80%;
  padding: 0;
  margin: 0 auto;
  z-index: 1;
  font-family: sans-serif;
  text-align: center;
}

.scroll-dummy::after {
  display: block;
  content:"";
  height:90vh;
}

.disable-scroll-dummy-after::after {
  content: none;
}

.scroll-dummy-offset-title-mask {
  margin-top: -70vh;
}

.scroll-dummy-title {
  font-size: 10vw;
  font-weight: 700;
  padding: 220px 0;
  margin: 0 0 5% 0;
  text-align: center;
}

.scroll-dummy p,
.scroll-dummy a {
  font-size: 22px;
  color: #ccc;
  line-height: 1.6;
  word-break: break-all;
}
