html {
  scroll-behavior: smooth;
}

body {
  color: white;
  font-weight: 600;
  margin: 0;
  padding: 0;
  background: #000;
  touch-action: pan-y;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.video-scroll-section {
  margin: 0;
  padding: 0;
}

.video {
  z-index: -1;
  width: 100%;
  height: 100vh;
}

video::-webkit-media-controls {
  display: none !important;
}

code {
  font-size: 16px;
  text-align: left;
}

ul {
  text-align: left;
}

.p-spacing {
  margin-bottom: 3rem;
}

.p-spacing::after {
  display: block;
  content: "";
  min-height: 3rem;
}

.pos-sticky {
  display: block;
  position: -webkit-sticky;
  position: sticky;
  will-change: transform;

  left: 0;
  top: 0;
}

.scroll-dummy {
  width: 80%;
  padding: 0;
  margin: 0 auto;
  z-index: 1;
  font-family: sans-serif;
  text-align: center;
}

.scroll-dummy::after {
  display: block;
  content: "";
  height: 90vh;
}

.disable-scroll-dummy-after::after {
  content: none;
}

.scroll-dummy-offset-title-mask {
  margin-top: -75vh;
}

.scroll-dummy-title {
  text-shadow: black 0.1em 0.1em 0.2em;
  font-size: 10vw;
  font-weight: 700;
  padding: 220px 0;
  margin: 0 0 5% 0;
  text-align: center;
}

.dummy-2-title-1,
.dummy-2-title-2,
.dummy-2-title-3 {
  font-size: 7vw;
  text-align: right;
}
.dummy-2-title-2 {
  margin-right: 5%;
}

.dummy-3-title-1,
.dummy-3-title-2,
.dummy-3-title-3 {
  font-size: 7vw;
  text-align: left;
}
.dummy-3-title-2 {
  margin-left: 5%;
}

.scroll-dummy p,
.scroll-dummy a {
  font-size: 22px;
  color: #ddd;
  text-shadow: black 0.1em 0.1em 0.2em;
  line-height: 1.6;
  word-break: break-all;
}

.copyright-footer {
  font-size: 12px;
  margin: 0 -5%;
  padding: 0 1% 90px 1%;
  border-top: 1px solid #ccc;
}

.copyright-footer a {
  font-size: 12px;
}
