
:root {
    --video-opacity: 0.6;
}

html {
    scroll-behavior: smooth;
}

body {
    color: white;
    font-weight: 600;
    margin: 0;
    background: #000;
    touch-action: pan-y;
    height: 100vh;
    overflow: auto;
}

section {
    display: flex;
    justify-content: center;
    position: relative;
    border-bottom: 2px solid #ddd;
}

video {
    -webkit-filter: opacity(var(--video-opacity));
    -moz-filter: opacity(var(--video-opacity));
    -ms-filter: opacity(var(--video-opacity));
    -o-filter: opacity(var(--video-opacity));
    filter: opacity(var(--video-opacity));

    z-index: 0;
    max-width: 100%;
    margin: 2rem 0;
    left: auto;
    top: 0;
}

code {
    font-size: 18px;
    text-align: left;
}

ul {
  text-align: left;
}


.p-spacing {
    margin-bottom: 3rem;
}

.pos-fixed {
  transition: transform 0;
  position: absolute;
  will-change: transform;
}

#dummy-1 {
    height: 2800px;
}

#dummy-2 {
    height: 2000px;
}

.scroll-dummy {
    width: 70%;
    max-width: 998px;
    padding: 20px;
    margin: 0 auto;
    z-index: 1;
    font-family: sans-serif;
    text-align: center;
}

.scroll-dummy-title {
    font-size: 350%;
    font-weight: 700;
    padding: 220px 0;
    text-align: center;
}

.scroll-dummy p,
.scroll-dummy a {
    font-size: 22px;
    color: #ccc;
    line-height: 1.6;
    word-break: break-all;
}
